//META{"name":"GENESIS-THEME-DISCORD-NORMALIZ","description":"Created By KNSX GENESIS","author":"KNSXGENESIS","version":"Auto Update"}*//
@import url("https://puckzxz.github.io/NotAnotherAnimeTheme/css/scsl.css");
@import url("https://monstrousdev.github.io/themes/addons/user-tags.css");
@import url("https://codedotspectra.github.io/themes/core/badges.css");
:root {
--background-image: url('https://cdn.discordapp.com/attachments/812313334757982218/812369293135839262/GENESISDISCORDTHEME.png');
--friends-icon: url('https://cdn.discordapp.com/attachments/812313334757982218/812390478339244062/unknown.png');
--friends-icon-position: center center;
--friends-icon-zoom: 100%;
--unread-server-animation: rainbow;
--main-color: rgba(67,181,129,0.9);
--main-transparency: rgba(0,0,0,0.6);
--hover-list-bg-color: rgba(255,255,255,0.4);
--scroll-bar-color: rgba(255,255,255,0.4);
--font-size: 16px;
--selected-text-voice-color: rgba(246,246,247,0.45);
--channel-hover-text-color: rgba(255,255,255,0.35);
--unread-text-color: rgba(220,221,222,0.7);
--user-popup-background: rgba(0,0,0,0.35);
}